--find-links=https://girder.github.io/large_image_wheels GDAL
geemap
geopandas
googledrivedownloader 
jupyter-server-proxy
keplergl
leafmap
localtileserver
nbserverproxy
streamlit
streamlit-option-menu

